<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    

    <div class="truee">
        <h1>Teaching Staff</h1>
    </div>

    <div class="container">
        <div class="departments">   
            <div class="card">
                <h3>HR</h3>
                <p>Human Resources</p>
                <button routerLink="/hr" class="join-btn">Join</button>
            </div>
            <div class="card">
                <h3>IT</h3>
                <p>Information Technology</p>
                <button routerLink="/it-page" class="join-btn">Join</button>
            </div>
            <div class="card">
                <h3>Finance</h3>
                <p>Financial Services</p>
                <button routerLink="/finance" class="join-btn">Join</button>
            </div>
            <div class="card">
                <h3>Sales</h3>
                <p>Sales and Marketing</p>
                <button routerLink="/sales" class="join-btn">Join</button>
            </div>
        </div>
    

        <div class="non-teaching">
            <h2>Non-Teaching Staff</h2>
            <div class="card">
                <h3>Gardener</h3>
                <p>Planting and Caring</p>
                <button routerLink="/gardener" class="join-btn">Join</button>
            </div>
            <div class="card">
                <h3>Travel</h3>
                <p>Customer Support and Services</p>
                <button routerLink="/travel" class="join-btn">Join</button>
            </div>
            <div class="card">
                <h3>Security</h3>
                <p> Customer Security and Safety Services</p>
                <button routerLink="/security" class="join-btn">Join</button>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2024 YourCompany. All rights reserved.</p>
    </div>
</body>
</html>
